.header-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.filter-area {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  color: #848d95;
}

.header-style {
  margin: 50px 0;
  font-size: 40px;
}

.dashboard-area {
  width: 50%;
  margin: auto;
}

.select-style {
  color: #848d95;
  border-color: #848d95;
  border-radius: 3px;
}

.button-style {
  display: inline-block;
  padding: 0.5em 0.5em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 5px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  background-color: #4eb5f1;
  text-align: center;
  transition: all 0.2s;
  font-weight: bold;
  border-width: 1px;
  border-color: darkgray;
  font-size: 16px;
}

.button-style:hover {
  background-color: #4095c6;
}
