.currentuser {
    width: 6%;
    height: 6%;
}

.questiontitle {
    margin: 30px 30px 5px 30px;
    font-size: 30px;
    text-align: center;
    font-family: Bradley Hand;
    color:rgb(20, 157, 220);
    font-weight: bold;
}

.qacontainer {
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    column-gap: 50px;
    justify-items: center;
}

.questionbody {
    box-shadow: 0 4px 8px 0 rgba(105, 114, 117, 0.623);
    justify-content: center;
    transition: 0.3s;
    height: max-content;
    width: 35vw;
    vertical-align: middle;
    background: rgba(169, 214, 236, 0.356);
    padding: 20px 20px 20px 20px;
    font-family: Rockwell;
    line-height: 40px;
    position: relative;
	border-radius: .4em;
}

.questionbody:after {
    content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 16px solid transparent;
	border-right-color: rgba(169, 214, 236, 0.356);
	border-left: 0;
	border-bottom: 0;
	margin-top: -7px;
	margin-left: -14px;
}


.questioninfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.question {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.views {
    display: grid;
    grid-template-columns: 4fr 1fr;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px 20px 0px;
    border-bottom: grey 1px solid;
} 

.likebtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Rockwell;
}

.timedata {
    display: flex;
    height: 30px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    font-family: Rockwell;
}

.qtag {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    overflow: hidden; 
    padding: 0;
  }
  

.tagStyle {
    background: #eee;
    border-radius: 3px 0 0 3px;
    color: rgb(130, 203, 245);
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none;
}

.tagStyle::before {
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 6px;
    left: 10px;
    position: absolute;
    width: 6px;
    top: 10px;
} 

.tagStyle::after {
    background: #fff;
    border-bottom: 13px solid transparent;
    border-left: 10px solid #eee;
    border-top: 13px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
}

.tagStyle:hover {
    background-color: rgb(20, 157, 220);
    color: white;
}

.tagStyle:hover::after {
    border-left-color:  rgb(20, 157, 220); 
}

.response {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-content: space-between;
    justify-content: space-between;
    border-top: grey 2px solid;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.heart {
    height: 40%;
    width: 20%;
}


.label-style{
    margin-top: 20px;
}
.hint {
    margin-top: 20px;
}
.answerForm {
    display:grid;
    grid-template-rows: 1fr 1fr 3fr 1fr;
    align-content: space-between;
    justify-content: space-between;
}

.postbtn{
    display: inline-block;
    width: 80px;
    height: 40px;
    padding: 0.3em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color:#FFFFFF;
    background-color:#4eb5f1;
    text-align:center;
    transition: all 0.2s;
}
    
.postbtn:hover{
    background-color: #4095c6;
}

.response-input {
    resize: none;
	width: 400px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
}



