.answer_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.answer_body {
    display: flex;
    justify-content: flex-start;
    position: relative;
	background: #00aabb;
	border-radius: .4em;
    box-shadow: 0 4px 8px 0 rgba(105, 114, 117, 0.623);
    justify-content: flex-start;
    transition: 0.3s;
    height: max-content;
    width: 25vw;
    vertical-align: middle;
    background: rgba(245, 246, 152, 0.356);
    padding: 20px 20px 20px 20px;
    font-family: Rockwell;
    margin-left: 150px;
}

.answer_body:after {
    content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 14px solid transparent;
	border-left-color: rgba(240, 234, 172, 0.623);
	border-right: 0;
	border-bottom: 0;
	margin-top: -7px;
	margin-right: -14px;
}

.answeruser {
    width: 5%;
    height: 5%;
}