.home-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
  background-color: rgb(85, 84, 84);
  padding: 5px;
  position: fixed;
  width: 100%;
  top: 0;
}

.logo-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.login-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.co-name {
  text-decoration: none;
}

input {
  width: 500px;
}

button {
  margin-left: 5px;
}

img {
  height: 50px;
  margin: 15px;
  border-radius: 33px;
}

a {
  text-decoration: none;
  color: black;
}
