.home-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
  background-image: url(../media/milkyway.jpg);
  padding: 5px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.logo-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.login-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.co-name {
  text-decoration: none;
  color: white;
  font-size: x-large;
  font-weight: bold;
}

input {
  width: 500px;
}

.logo {
  border-radius: 13px;
}

a {
  text-decoration: none;
  color: black;
}

.searchTerm {
  border: 3px solid #4eb5f1;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #767777;
}

.searchTerm:focus {
  color: black;
}

.searchButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 36px;
  border: 1px solid #4eb5f1;
  background: #4eb5f1;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.searchButton:hover {
  color: #444849;
}

.darkmode {
  margin-right: 20px;
}
