div .menu-btn {
  color: white;
  margin: 0 9vw 0 0;
  padding: 20px 0;
  background-color: #737070;
  border-radius: 50px;
}

/* .logo {
  width: 27%;
} */

.menu-name {
  color: black;
  font-weight: bold;
  font-size: 18px;
}

.menu-co-sec {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
